@{
    EpisodeDetailsViewModel model = Model;
    var episode = model.Episode;
}

<main>

    <header class="site-header d-flex flex-column justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center">

                    <h2 class="mb-0">Detail Page</h2>
                </div>

            </div>
        </div>
    </header>


    <section class="latest-podcast-section section-padding pb-0" id="section_2">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-10 col-12">
                    <div class="section-title-wrap mb-5">
                        <h4 class="section-title">Daily talk</h4>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-12">
                            <div class="custom-block-icon-wrap">
                                <div class="custom-block-image-wrap custom-block-image-detail-page">
                                    <img src="~/images/@episode.CoverImageUrl" class="custom-block-image img-fluid" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9 col-12">
                            <div class="custom-block-info">
                                <div class="custom-block-top d-flex mb-1">
                                    <small class="me-4">
                                        <a href="#">
                                            <i class="bi-play"></i>
                                            Play now
                                        </a>
                                    </small>

                                    <small>
                                        <i class="bi-clock-fill custom-icon"></i>
                                        @episode.Duration Minutes
                                    </small>

                                    <small class="ms-auto">Episode <span class="badge">@episode.Id</span></small>
                                </div>

                                <h2 class="mb-2">@episode.Title</h2>

                                <p>@episode.Description</p>


                                <div class="profile-block profile-detail-block d-flex flex-wrap align-items-center mt-5">
                                    <div class="d-flex mb-3 mb-lg-0 mb-md-0">
                                        <img src="~/images/@episode.Speaker.ImageUrl" class="profile-block-image img-fluid" alt="">

                                        <p>
                                            @episode.Speaker.Name
                                            <img src="~/images/verified.png" class="verified-image img-fluid" alt="">
                                            @foreach (var item in episode.Speaker.SpeakerProfessions)
                                            {
                                                <strong>@item.Profession?.Title</strong>
                                            }
                                        </p>
                                    </div>

                                    <ul class="social-icon ms-lg-auto ms-md-auto">
                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-instagram"></a>
                                        </li>

                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-twitter"></a>
                                        </li>

                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-whatsapp"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="related-podcast-section section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <div class="section-title-wrap mb-5">
                        <h4 class="section-title">Related episodes</h4>
                    </div>
                </div>

                <partial name="_EpisodePartial" model="@Model.RelatedEpisodes"></partial>
               @*  @await Component.InvokeAsync("Episode"); *@
                @* @foreach (var item in relatedEpisodes)
                {
                    <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                        <div class="custom-block custom-block-full">
                            <div class="custom-block-image-wrap">
                                <a href="detail-page.html">
                                    <img src="~/images/@item.CoverImageUrl" class="custom-block-image img-fluid" alt="">
                                </a>
                            </div>

                            <div class="custom-block-info">
                                <h5 class="mb-2">
                                    <a asp-controller="episode" asp-action="details" asp-route-id="@item.Id">
                                        @item.Title
                                    </a>
                                </h5>

                                <div class="profile-block d-flex">
                                    <img src="~/images/@item.Speaker.ImageUrl" class="profile-block-image img-fluid" alt="">

                                    <p>
                                        @item.Speaker.Name
                                        @foreach (var sp in item.Speaker.SpeakerProfessions)
                                        {
                                            <strong>@sp.Profession?.Title</strong>
                                        }
                                    </p>
                                </div>

                                <p class="mb-0">@item.Description</p>

                                <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                    <a href="#" class="bi-headphones me-1">
                                        <span>@(item.ListeningCount / 1000)k</span>
                                    </a>

                                    <a href="#" class="bi-heart me-1">
                                        <span>@(item.LikeCount / 1000)k</span>
                                    </a>

                                    <a href="#" class="bi-chat me-1">
                                        <span>@(item.CommentCount / 1000)k</span>
                                    </a>
                                </div>
                            </div>

                            <div class="social-share d-flex flex-column ms-auto">
                                <a href="#" class="badge ms-auto">
                                    <i class="bi-heart"></i>
                                </a>

                                <a href="#" class="badge ms-auto">
                                    <i class="bi-bookmark"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
 *@
            </div>
        </div>
    </section>
</main>
